<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.suzumiya.mapper.SchoolMapper">
    <resultMap id="school" type="School">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="location" property="location" />
        <result column="introduction" property="introduction" />
        <collection property="syllabuses" ofType="Syllabus" javaType="List">
            <id column="syllabus_id" property="id" />
            <result column="title" property="title" />
        </collection>
    </resultMap>
    <select id="selectAll" resultMap="school">
        select school.*,syllabus.id as syllabus_id,syllabus.title
        from syllabus right outer join school on syllabus.school_id = school.id
    </select>
    <select id="selectBySchoolId" resultMap="school">
        select school.*,syllabus.id as syllabus_id,syllabus.title
        from syllabus right outer join school on syllabus.school_id = school.id
        where school.id=#{id}
    </select>
    <select id="selectFavoriteSchools" resultMap="school">
        select school.* from favorite_school,school where favorite_school.user_id=#{uid} and school.id=favorite_school.school_id
    </select>
    <insert id="insertSchool">
        insert into school (name, location, introduction) value (#{name}, #{location},#{introduction})
    </insert>
    <delete id="deleteSchool">
        delete from school where school.id=#{id}
    </delete>
    <insert id="insertFavoriteSchool">
        insert into favorite_school (user_id, school_id)
        value (#{user_id}, #{school_id})
    </insert>
    <delete id="deleteFavoriteSchool">
        delete from favorite_school where user_id = #{user_id} and school_id = #{school_id}
    </delete>
</mapper>