<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.suzumiya.mapper.SchoolMapper">
    <resultMap id="school" type="School">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="location" property="location" />
        <result column="introduction" property="introduction" />
        <collection property="syllabuses" ofType="Syllabus" javaType="List">
            <id column="syllabus_id" property="id" />
            <result column="title" property="title" />
        </collection>
    </resultMap>
    <resultMap id="favorite" type="Favorite">
        <id column="id" property="id" />
        <result column="syllabus_id" property="syllabus_id"/>
    </resultMap>
    <resultMap id="audit" type="AuditSchool">
        <id column="id" property="id" />
        <result column="school_name" property="school_name" />
        <result column="user_id" property="user_id"/>
        <result column="location" property="location" />
        <result column="introduction" property="introduction" />
        <result column="description" property="description" />
        <result column="username" property="user_name" />
    </resultMap>
    <resultMap id="auditTeacher" type="AuditTeacher">
        <id column="id" property="id" />
        <result column="school_name" property="school_name" />
        <result column="user_id" property="user_id"/>
        <result column="description" property="description" />
        <association property="user" javaType="User">
            <id column="uid" property="id" />
            <result column="username" property="name" />
        </association>
    </resultMap>
    <select id="selectAll" resultMap="school">
        select school.*,syllabus.id as syllabus_id,syllabus.title
        from syllabus right outer join school on syllabus.school_id = school.id
    </select>
    <select id="selectBySchoolId" resultMap="school">
        select school.*,syllabus.id as syllabus_id,syllabus.title
        from syllabus right outer join school on syllabus.school_id = school.id
        where school.id=#{id}
    </select>
    <select id="selectFavoriteSchools" resultMap="school">
        select school.* from favorite_school,school
        where favorite_school.user_id=#{uid} and school.id=favorite_school.school_id
    </select>
    <insert id="insertSchool">
        insert into school (name, location, introduction)
        value (#{name}, #{location}, #{introduction})
    </insert>
    <insert id="insertAuditSchool">
        insert into school (name, location, introduction)
        value (#{school_name}, #{location}, #{introduction})
    </insert>
    <delete id="deleteSchool">
        delete from school where school.id=#{id}
    </delete>
    <insert id="insertFavoriteSchool">
        insert into favorite_school (user_id, school_id)
        value (#{user_id}, #{school_id})
    </insert>
    <delete id="deleteFavoriteSchool">
        delete from favorite_school where user_id = #{user_id} and school_id = #{school_id}
    </delete>
    <select id="checkFavoriteDuplicate" resultMap="favorite">
        select * from favorite_school where user_id = #{user_id} and school_id = #{school_id}
    </select>
    <select id="selectAllAudit" resultMap="audit">
        select audit.*,user.username from audit,user where audit.user_id=user.id
    </select>
    <select id="selectAuditById" resultMap="audit">
        select audit.*,user.username from audit,user where audit.id = #{id} and audit.user_id=user.id
    </select>
    <insert id="insertAudit">
        insert into audit (school_name, user_id, introduction, description, location)
        value (#{school_name}, #{user_id}, #{introduction}, #{description}, #{location})
    </insert>
    <delete id="deleteAudit">
        delete from audit where audit.id = #{id}
    </delete>
    <select id="getSchoolByName" resultMap="school">
        select * from school where school.name = #{name}
    </select>
    <select id="selectAllAuditTeacher" resultMap="auditTeacher">
        select audit_teacher.*,user.id as uid, user.username from audit_teacher,user
        where audit_teacher.user_id = user.id
    </select>
    <select id="selectAllAuditSchoolTeacher" resultMap="auditTeacher">
        select audit_teacher.*,user.username from audit_teacher,user
        where school_name = #{name} and audit_teacher.user_id=user.id
    </select>
    <select id="selectAuditTeacherById" resultMap="auditTeacher">
        select audit_teacher.*,user.username from audit_teacher,user
        where audit_teacher.id = #{id} and audit_teacher.user_id=user.id
    </select>
    <insert id="insertAuditTeacher">
        insert into audit_teacher (school_name,user_id, description)
        value (#{school_name}, #{user_id}, #{description})
    </insert>
    <delete id="deleteAuditTeacher">
        delete from audit_teacher where audit_teacher.id = #{id}
    </delete>
    <update id="updateSchool">
        update school set name = #{name}, location = #{location}, introduction = #{introduction}
        where school.id = #{id}
    </update>
</mapper>