<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.suzumiya.mapper.SyllabusMapper">
    <resultMap id="syllabus" type="Syllabus">
        <id column="id" property="id" />
        <result column="code" property="code" />
        <result column="title" property="title" />
        <result column="prepare" property="prepare" />
        <result column="review" property="review" />
        <result column="unit" property="unit" />
        <result column="hours" property="hours"/>
        <result column="pre_req" property="pre_req" />
        <result column="co_req" property="co_req" />
        <result column="offer_unit" property="offer_unit" />
        <result column="aim" property="aim" />
        <result column="editor_id" property="editor_id"/>
        <association property="school" javaType="School">
            <id column="the_school_id" property="id" />
            <result column="name" property="name" />
            <result column="location" property="location" />
            <result column="introduction" property="introduction" />
        </association>
        <collection property="contents" ofType="Content" javaType="List">
            <id column="c_id" property="id" />
            <result column="content_id" property="content_id" />
            <result column="content_syllabus_id" property="syllabus_id" />
            <result column="content_title" property="title" />
            <result column="content_hours" property="hours" />
            <result column="content" property="content" />
        </collection>
        <collection property="textBooks" ofType="TextBook" javaType="List">
            <id column="textbook_id" property="id" />
            <result column="syllabus_id" property="syllabus_id" />
            <result column="textbook_title" property="title" />
            <result column="year" property="year" />
            <result column="author" property="author" />
        </collection>
        <collection property="assessments" ofType="Assessment" javaType="List">
            <id column="a_id" property="id" />
            <result column="a_syllabus_id" property="syllabus_id" />
            <result column="method" property="method" />
            <result column="weighting" property="weighting" />
            <result column="description" property="description" />
            <collection property="assessment_cilos" ofType="AssessmentCilo" javaType="List">
                <id column="a_c_id" property="id" />
                <result column="assessment_id" property="assessment_id" />
                <result column="cilo_id" property="cilo_id" />
            </collection>
        </collection>
        <collection property="cilos" ofType="Cilo" javaType="List">
            <id column="cid" property="id" />
            <result column="c_syllabus_id" property="syllabus_id" />
            <result column="ci_id" property="cilo_id" />
            <result column="cilos_content" property="content" />
            <association property="tla" javaType="Tla">
                <id column="t_id" property="id" />
                <result column="cilo_id" property="cilo_id" />
                <result column="tla_content" property="content" />
            </association>
            <collection property="pilo_cilos" ofType="PiloCilo" javaType="List">
                <id column="p_c_id" property="id" />
                <result column="pi_id" property="pilo_id" />
                <result column="cilo_id" property="cilo_id" />
            </collection>
        </collection>
        <collection property="pilos" ofType="Pilo" javaType="List">
            <id column="p_id" property="id" />
            <result column="p_syllabus_id" property="syllabus_id" />
            <result column="pilo_id" property="pilo_id" />
            <result column="pilos_content" property="content" />
            <collection property="pilo_cilos" ofType="PiloCilo" javaType="List">
                <id column="p_c_id" property="id" />
                <result column="pilo_id" property="pilo_id" />
                <result column="cilo_id" property="cilo_id" />
            </collection>
        </collection>
    </resultMap>
    <resultMap id="favorite" type="Favorite">
        <id column="id" property="id" />
        <result column="syllabus_id" property="syllabus_id"/>
    </resultMap>
    <resultMap id="cilo" type="Cilo">
        <id column="id" property="id" />
        <result column="syllabus_id" property="syllabus_id" />
        <result column="cilo_id" property="cilo_id" />
        <result column="content" property="content" />
        <association property="tla" javaType="Tla">
            <id column="t_id" property="id" />
            <result column="t_cilo_id" property="cilo_id" />
            <result column="tla_content" property="content" />
        </association>
        <association property="syllabus" javaType="Syllabus">
            <id column="s_id" property="id" />
            <result column="title" property="title" />
        </association>
        <collection property="pilo_cilos" ofType="PiloCilo" javaType="List">
            <id column="p_c_id" property="id" />
            <result column="pilo_id" property="pilo_id" />
            <result column="p_cilo_id" property="cilo_id" />
        </collection>
    </resultMap>
    <select id="selectAll" resultMap="syllabus">
        select syllabus.*,
            school.id as the_school_id,school.*,
            textbook.id as textbook_id,textbook.title as textbook_title,textbook.*,
            content.id as c_id,content.syllabus_id as content_syllabus_id,content.title as content_title,content.hours as content_hours,content.*,
            assessment.id as a_id,assessment.syllabus_id as a_syllabus_id,assessment.*,
            assessment_cilo.id as a_c_id,assessment_cilo.*,
            cilo.id as cid,cilo.syllabus_id as c_syllabus_id,cilo.content as cilos_content,cilo.cilo_id as ci_id, cilo.*,
            tla.id as t_id,tla.content as tla_content, tla.*,
            pilo.id as p_id,pilo.syllabus_id as p_syllabus_id,pilo.content as pilos_content,pilo.*,
            pilo_cilo.id as p_c_id,pilo_cilo.pilo_id as pi_id, pilo_cilo.*
        from syllabus
        left outer join school on syllabus.school_id = school.id
        left outer join textbook on syllabus.id = textbook.syllabus_id
        left outer join content on syllabus.id = content.syllabus_id
        left outer join (assessment
            right outer join assessment_cilo on assessment.id = assessment_cilo.assessment_id
            ) on syllabus.id = assessment.syllabus_id
        left outer join (cilo
            right outer join tla on cilo.id = tla.cilo_id
            )on syllabus.id = cilo.syllabus_id
        left outer join (pilo
            right outer join pilo_cilo on pilo.id = pilo_cilo.pilo_id
            ) on syllabus.id = pilo.syllabus_id
    </select>
    <select id="selectBySyllabusId" resultMap="syllabus">
        select syllabus.*,
            school.id as the_school_id,school.*,
            textbook.id as textbook_id,textbook.title as textbook_title,textbook.*,
            content.id as c_id,content.syllabus_id as content_syllabus_id,content.title as content_title,content.hours as content_hours,content.*,
            assessment.id as a_id,assessment.syllabus_id as a_syllabus_id,assessment.*,
            assessment_cilo.id as a_c_id,assessment_cilo.*,
            cilo.id as cid,cilo.syllabus_id as c_syllabus_id,cilo.content as cilos_content,cilo.cilo_id as ci_id, cilo.*,
            tla.id as t_id,tla.content as tla_content, tla.*,
            pilo.id as p_id,pilo.syllabus_id as p_syllabus_id,pilo.content as pilos_content,pilo.*,
            pilo_cilo.id as p_c_id,pilo_cilo.pilo_id as pi_id, pilo_cilo.*
        from syllabus
        left outer join school on syllabus.school_id = school.id
        left outer join textbook on syllabus.id = textbook.syllabus_id
        left outer join content on syllabus.id = content.syllabus_id
        left outer join (assessment
            right outer join assessment_cilo on assessment.id = assessment_cilo.assessment_id
            ) on syllabus.id = assessment.syllabus_id
        left outer join (cilo
            right outer join tla on cilo.id = tla.cilo_id
            )on syllabus.id = cilo.syllabus_id
        left outer join (pilo
            right outer join pilo_cilo on pilo.id = pilo_cilo.pilo_id
            ) on syllabus.id = pilo.syllabus_id
        where syllabus.id=#{id} and syllabus.school_id=school.id
    </select>
    <select id="selectByInfo" resultMap="syllabus">
        select syllabus.* from syllabus where school_id=#{school_id} and title=#{title}
    </select>
    <select id="selectFavoriteSyllabuses" resultMap="syllabus">
        select syllabus.*,
            school.id as the_school_id,school.*,
            textbook.id as textbook_id,textbook.title as textbook_title,textbook.*,
            content.id as c_id,content.syllabus_id as content_syllabus_id,content.title as content_title,content.hours as content_hours,content.*,
            assessment.id as a_id,assessment.syllabus_id as a_syllabus_id,assessment.*,
            assessment_cilo.id as a_c_id,assessment_cilo.*,
            cilo.id as cid,cilo.syllabus_id as c_syllabus_id,cilo.content as cilos_content,cilo.cilo_id as ci_id, cilo.*,
            tla.id as t_id,tla.content as tla_content, tla.*,
            pilo.id as p_id,pilo.syllabus_id as p_syllabus_id,pilo.content as pilos_content,pilo.*,
            pilo_cilo.id as p_c_id,pilo_cilo.pilo_id as pi_id, pilo_cilo.*
        from favorite_syllabus,syllabus,school,content,textbook,assessment,assessment_cilo,cilo,pilo,pilo_cilo,tla
        where favorite_syllabus.user_id=#{uid} and syllabus.id=favorite_syllabus.syllabus_id and syllabus.school_id=school.id
    </select>
    <insert id="insertSyllabus">
        insert into syllabus (code, title, school_id, prepare,
                              review, unit, hours, pre_req, co_req,
                              offer_unit, aim, editor_id)
        value (#{code}, #{title}, #{school_id}, #{prepare},
               #{review}, #{unit}, #{hours}, #{pre_req}, #{co_req},
               #{offer_unit}, #{aim}, #{editor_id})
    </insert>
    <delete id="deleteSyllabus">
        delete from syllabus where syllabus.id = #{id}
    </delete>
    <insert id="insertFavoriteSyllabus">
        insert into favorite_syllabus (user_id, syllabus_id)
        value (#{user_id}, #{syllabus_id})
    </insert>
    <delete id="deleteFavoriteSyllabus">
        delete from favorite_syllabus where user_id = #{user_id} and syllabus_id = #{syllabus_id}
    </delete>
    <select id="checkFavoriteDuplicate" resultMap="favorite">
        select * from favorite_syllabus where user_id = #{user_id} and syllabus_id = #{syllabus_id}
    </select>
    <select id="selectAllCilo" resultMap="cilo">
        select cilo.*,
            tla.id as t_id,tla.cilo_id as t_cilo_id,tla.content as tla_content, tla.*,
            syllabus.id as s_id, syllabus.title,
            pilo_cilo.id as p_c_id,pilo_cilo.cilo_id as p_cilo_id,pilo_cilo.*
        from cilo
            left outer join syllabus on cilo.syllabus_id = syllabus.id
            left outer join tla on cilo.id = tla.cilo_id
            left outer join pilo_cilo on cilo.id = pilo_cilo.cilo_id
    </select>
    <select id="selectCiloById" resultMap="cilo">
        select cilo.*,
            tla.id as t_id,tla.cilo_id as t_cilo_id,tla.content as tla_content, tla.*,
            syllabus.id as s_id, syllabus.title,
            pilo_cilo.id as p_c_id,pilo_cilo.cilo_id as p_cilo_id,pilo_cilo.*
        from cilo
            left outer join syllabus on cilo.syllabus_id = syllabus.id
            left outer join tla on cilo.id = tla.cilo_id
            left outer join pilo_cilo on cilo.id = pilo_cilo.cilo_id
        where cilo.id = #{id}
    </select>
    <insert id="insertCilo" useGeneratedKeys="true" keyProperty="id" parameterType="Cilo">
        insert into cilo (syllabus_id, cilo_id, content)
        value (#{syllabus_id}, #{cilo_id}, #{content})
    </insert>
    <delete id="deleteCilo">
        delete from cilo where cilo.id = #{id}
    </delete>
    <insert id="insertPilo" useGeneratedKeys="true" keyProperty="id" parameterType="Pilo">
        insert into pilo (syllabus_id, pilo_id, content)
        value (#{syllabus_id}, #{pilo_id}, #{content})
    </insert>
    <delete id="deletePilo">
        delete from pilo where pilo.id = #{id}
    </delete>
    <insert id="insertPC"  useGeneratedKeys="true" keyProperty="id" parameterType="PiloCilo">
        insert into pilo_cilo (pilo_id, cilo_id)
        value (#{pilo_id}, #{cilo_id})
    </insert>
    <delete id="deletePC">
        delete from pilo_cilo where pilo_cilo.id = #{id}
    </delete>
    <insert id="insertTla" useGeneratedKeys="true" keyProperty="id" parameterType="Tla">
        insert into tla (cilo_id, content)
        value (#{cilo_id}, #{content})
    </insert>
    <delete id="deleteTla">
        delete from tla where tla.id = #{id}
    </delete>
    <insert id="insertContent" useGeneratedKeys="true" keyProperty="id" parameterType="Content">
        insert into content (content_id, syllabus_id, title, hours, content)
        value (#{content_id}, #{syllabus_id}, #{title}, #{hours}, #{content})
    </insert>
    <delete id="deleteContent">
        delete from content where content.id = #{id}
    </delete>
    <select id="selectAll_S" resultMap="syllabus">
        select syllabus.*,
            school.id as the_school_id,school.*,
            textbook.id as textbook_id,textbook.title as textbook_title,textbook.*,
            content.id as c_id,content.syllabus_id as content_syllabus_id,content.title as content_title,content.hours as content_hours,content.*,
            assessment.id as a_id,assessment.syllabus_id as a_syllabus_id,assessment.*,
            assessment_cilo.id as a_c_id,assessment_cilo.*,
            cilo.id as cid,cilo.syllabus_id as c_syllabus_id,cilo.content as cilos_content,cilo.cilo_id as ci_id, cilo.*,
            tla.id as t_id,tla.content as tla_content, tla.*,
            pilo.id as p_id,pilo.syllabus_id as p_syllabus_id,pilo.content as pilos_content,pilo.*,
            pilo_cilo.id as p_c_id,pilo_cilo.pilo_id as pi_id, pilo_cilo.*
        from syllabus
        left outer join school on syllabus.school_id = school.id
        left outer join textbook on syllabus.id = textbook.syllabus_id
        left outer join content on syllabus.id = content.syllabus_id
        left outer join (assessment
            right outer join assessment_cilo on assessment.id = assessment_cilo.assessment_id
            ) on syllabus.id = assessment.syllabus_id
        left outer join (cilo
            right outer join tla on cilo.id = tla.cilo_id
            )on syllabus.id = cilo.syllabus_id
        left outer join (pilo
            right outer join pilo_cilo on pilo.id = pilo_cilo.pilo_id
            ) on syllabus.id = pilo.syllabus_id
        where syllabus.school_id = #{id}
    </select>
    <update id="updateSyllabus">
        update syllabus set code = #{code}, title = #{title}, school_id = #{school_id},
                            prepare = #{prepare}, review = #{review}, unit = #{unit},
                            hours = #{hours}, co_req = #{co_req}, offer_unit = #{offer_unit},
                            aim = #{aim}, pre_req = #{pre_req}
                        where id = #{id}
    </update>
    <update id="updateCilo">
        update cilo set syllabus_id = #{syllabus_id}, cilo_id = #{cilo_id}, content = #{content}
        where cilo.id = #{id}
    </update>
    <update id="updatePilo">
        update pilo set syllabus_id = #{syllabus_id}, pilo_id = #{pilo_id}, content = #{content}
        where pilo.id = #{id}
    </update>
    <update id="updatePC">
        update pilo_cilo set pilo_id = #{pilo_id}, cilo_id = #{cilo_id}
        where pilo_cilo.id = #{id}
    </update>
    <update id="updateTla">
        update tla set cilo_id = #{cilo_id}, content = #{content}
        where tla.id = #{id}
    </update>
    <update id="updateContent">
        update content set content_id = #{content_id}, syllabus_id = #{syllabus_id},
                           title = #{title}, hours = #{hours}, content = #{content}
        where content.id = #{id}
    </update>
    <select id="selectAll_T" resultMap="syllabus">
        select syllabus.*,
               school.id as the_school_id,school.*,
               textbook.id as textbook_id,textbook.title as textbook_title,textbook.*,
               content.id as c_id,content.syllabus_id as content_syllabus_id,content.title as content_title,content.hours as content_hours,content.*,
               assessment.id as a_id,assessment.syllabus_id as a_syllabus_id,assessment.*,
               assessment_cilo.id as a_c_id,assessment_cilo.*,
               cilo.id as cid,cilo.syllabus_id as c_syllabus_id,cilo.content as cilos_content,cilo.cilo_id as ci_id, cilo.*,
               tla.id as t_id,tla.content as tla_content, tla.*,
               pilo.id as p_id,pilo.syllabus_id as p_syllabus_id,pilo.content as pilos_content,pilo.*,
               pilo_cilo.id as p_c_id,pilo_cilo.pilo_id as pi_id, pilo_cilo.*
        from syllabus
                 left outer join school on syllabus.school_id = school.id
                 left outer join textbook on syllabus.id = textbook.syllabus_id
                 left outer join content on syllabus.id = content.syllabus_id
                 left outer join (assessment
            right outer join assessment_cilo on assessment.id = assessment_cilo.assessment_id
            ) on syllabus.id = assessment.syllabus_id
                 left outer join (cilo
            right outer join tla on cilo.id = tla.cilo_id
            )on syllabus.id = cilo.syllabus_id
                 left outer join (pilo
            right outer join pilo_cilo on pilo.id = pilo_cilo.pilo_id
            ) on syllabus.id = pilo.syllabus_id
        where syllabus.editor_id = #{id}
    </select>
</mapper>