<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.suzumiya.mapper.UserMapper">
    <resultMap id="allUsers" type="User">
        <id column="id" property="id" />
        <result column="username" property="name" />
        <result column="password" property="password" />
        <result column="email" property="email" />
        <result column="school_id" property="school_id"/>
        <association property="role" javaType="Role">
            <id column="role_id" property="id" />
            <result column="name" property="name" />
        </association>
    </resultMap>
    <select id="selectAll" resultMap="allUsers">
        select user.*,role.* from user,role where user.role_id=role.id
    </select>
    <select id="selectByUid" resultMap="allUsers">
        select user.*,role.* from user,role where user.role_id=role.id and user.id=#{uid}
    </select>
    <insert id="insertUser">
        insert into user (username, email, role_id, password) value (#{name}, #{email}, #{role_id}, #{password})
    </insert>
    <delete id="deleteUser">
        delete from user where user.id=#{id}
    </delete>
    <select id="userLogin" resultMap="allUsers">
        select user.* from user where username=#{name} and password=#{password}
    </select>
    <select id="checkUserDuplicate" resultMap="allUsers">
        select * from user where username=#{name} or email=#{email}
    </select>
    <update id="updateSchoolRole">
        update user set user.role_id = 2 where user.id = #{id}
    </update>
    <update id="updateSchoolId">
        update user set user.school_id = #{school_id} where user.id = #{id}
    </update>
    <update id="updatePassword">
        update user set user.password = #{password} where user.id = #{id}
    </update>
</mapper>