<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Configuration for properties -->
    <bean id="configPropertyConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="classpath:application.properties"/>
    </bean>

    <bean id="config" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="location" value="classpath:application.properties" />
    </bean>

    <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="host" value="${spring.mail.host}" />
        <property name="port" value="${spring.mail.port}" />
        <property name="username" value="${spring.mail.username}" />
        <property name="password" value="${spring.mail.password}" />
        <property name="javaMailProperties">
            <props>
                <prop key="mail.smtp.auth">true</prop>
                <prop key="mail.smtp.timeout">25000</prop>
                <prop key="mail.smtp.starttls.enable">true</prop>
                <prop key="mail.smtp.starttls.required">true</prop>
            </props>
        </property>
    </bean>

    <bean id="templateResolver"
          class="org.thymeleaf.spring5.templateresolver.SpringResourceTemplateResolver">
        <property name="prefix" value="com/suzumiya/templates/"/>
        <property name="suffix" value=".html"/>
        <property name="templateMode" value="HTML"/>
        <property name="cacheable" value="true"/>
    </bean>

    <bean id="templateEngine"
          class="org.thymeleaf.spring5.SpringTemplateEngine">
        <property name="templateResolver" ref="templateResolver"/>
        <property name="enableSpringELCompiler" value="true"/>
    </bean>

    <bean class="com.suzumiya.service.MailService" id="mailService">
        <property name="mailSender" ref="mailSender" />
        <property name="from" value="${spring.mail.username}" />
        <property name="templateEngine" ref="templateEngine" />
    </bean>

    <!-- Configuration for mybatis -->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://${MySQLHost}:3306/spring" />
        <property name="username" value="${MySQLUser}" />
        <property name="password" value="${MySQLPass}" />
    </bean>

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="configLocation" value="classpath:mybatis.cfg.xml" />
    </bean>

    <!-- Configuration for redis -->
    <bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
        <property name="maxTotal" value="50" />
        <property name="maxIdle" value="50" />
        <property name="timeBetweenEvictionRunsMillis" value="30000" />
        <property name="minEvictableIdleTimeMillis" value="60000" />
    </bean>

    <bean id="jedisPool" class="redis.clients.jedis.JedisPool">
        <constructor-arg name="host" value="${MySQLHost}" />
        <constructor-arg name="port" value="6379" />
        <constructor-arg name="poolConfig" ref="jedisPoolConfig" />
    </bean>

    <bean id="redisDao" class="com.suzumiya.dao.RedisDao">
        <property name="jedisPool" ref="jedisPool" />
    </bean>

    <!-- Settings for different Dao -->
    <bean id="userDao" class="com.suzumiya.dao.UserDao">
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>
    <bean id="syllabusDao" class="com.suzumiya.dao.SyllabusDao">
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>
    <bean id="schoolDao" class="com.suzumiya.dao.SchoolDao">
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>
    <bean id="textBookDao" class="com.suzumiya.dao.TextBookDao">
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>
    <bean id="assessmentDao" class="com.suzumiya.dao.AssessmentDao">
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>

    <!-- Service Beans -->
    <bean class="com.suzumiya.service.UserService" id="userService">
        <property name="redisDao" ref="redisDao" />
        <property name="userDao" ref="userDao" />
    </bean>
    <bean class="com.suzumiya.service.TextBookService" id="textBookService">
        <property name="textBookDao" ref="textBookDao" />
    </bean>
    <bean class="com.suzumiya.service.SyllabusService" id="syllabusService">
        <property name="redisDao" ref="redisDao" />
        <property name="syllabusDao" ref="syllabusDao" />
    </bean>
    <bean class="com.suzumiya.service.SchoolService" id="schoolService">
        <property name="redisDao" ref="redisDao" />
        <property name="schoolDao" ref="schoolDao" />
    </bean>
    <bean class="com.suzumiya.service.AssessmentService" id="assessmentService">
        <property name="assessmentDao" ref="assessmentDao" />
    </bean>
</beans>